[user]
  name = Kyle Welch
  email = kwelch0626@gmail.com
	signingkey =
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[alias]
  st = "status -sb"
  co = "checkout"
  # check out and pull all in one call; `:` at the end it to fix how git appends params
  chp = !git checkout $1 && git pull && :
  nb = "checkout -b"
[core]
  editor="code --wait"
	excludesfile = ~/.gitignore_global
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[branch]
  autosetuprebase = always
[push]
  # auto attach upstream with same name as local branch
	default = current
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[include]
	path = ~/.gitsecrets
