[user]
  name=Kyle Welch
  email=kwelch0626@gmail.com
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[alias]
  st = "status -sb"
  co = "checkout"
[hub]
  protocol = ssh
[core]
  editor="code --wait"
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
