[user]
  name = Kyle Welch
  email = kwelch@eventbrite.com
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[alias]
  st = "status -sb"
  co = "checkout"
[core]
  editor="code --wait"
	excludesfile = /Users/kwelch/.gitignore_global
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[branch]
  autosetuprebase = always
